<div class="total">
  <div class="w-100 d-flex justify-content-center align-content-center p-5">
    <div class="all p-4">
      <div>
        <div class="d-flex align-content-center justify-content-end my-2">
          <button (click)="reset()" type="submit" class="btn btn-warning">
            Reset
          </button>
        </div>
        <div class="d-flex align-content-center justify-content-around my-3">
          <div id="statusArea" className="status">
            Next player:
            <span class="btn btn-dark">{{ currentPlayer }}</span>
          </div>
          <div id="winnerArea" className="winner" *ngIf="winner != 'None'">
            Winner: <span class="btn btn-success">{{ winner }}</span>
            
          </div>
        </div>
      </div>
      <section>
        <div class="row" *ngFor="let row of [0, 1, 2]; let i = index">
          <button
            *ngFor="let col of [0, 1, 2]; let j = index"
            class="square"
            (click)="placeMarker(i, j)"
            [disabled]="board[i][j] !== ''"
            [ngStyle]="{
              'background-color':
                board[i][j] === 'X'
                  ? 'red'
                  : board[i][j] === 'O'
                  ? 'blue'
                  : 'white'
            }"
          >
            <h1>{{ board[i][j] }}</h1>
          </button>
        </div>
      </section>
    </div>
  </div>
  <div *ngIf="winner != 'None'" >
    <div class="confetti">
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
  </div>
  </div>
</div>

